@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1A4F8B;
  --color-secondary: #6BB4FF;
  --color-base-200: #E5E7EB;
  --color-base-300: #D1D5DB;
  --color-accent: #10B981;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-primary: #3B82F6;
  --color-secondary: #60A5FA;
  --color-base-100: #1F2937;
  --color-base-200: #374151;
  --color-base-300: #4B5563;
  --color-accent: #10B981;
}

*{
  font-family: "Inter", sans-serif;
}